<form [formGroup]="hackDetails" #hackForm="ngForm">
    <label for="title">Title</label>
    <input id="title" formControlName="title" />
    <label for="description">Description</label>
    <input id="description" formControlName="description" />
    <label for="tags">Tags</label>
    <select id="tags" formControlName="tags">
        <!-- <option [selected]="true" [disabled]="true" [value]="">Select</option> -->
        <option *ngFor="let option of tagOptions" [ngValue]="option.value">{{option.name}}</option>
    </select>
    <button (click)="onAdd()">Add</button>
</form>