<div>
    <span (click)="switchTab('all')">All Hacks</span>
    <span (click)="switchTab('myHacks')">My Hacks</span>
    <button (click)="addMode = !addMode">Add New Hack</button>
</div>
<div *ngFor="let hack of hackList">
    <span>{{hack.title}}</span>
    <span>{{hack.upvotes.length}}</span>
    <button (click)="upvote(hack)">Upvote</button>
</div>

<!-- Add new hack popup -->
<div *ngIf="addMode">
    <app-add-hack [hackList]="hackList" (sendDataToParent)="onPopupClose()"></app-add-hack>
</div>