.toast_msg_block {
  position: fixed;
  top: 100px;
  right: 15%;
  transition: all 0.4s ease-in-out;
  /* background: #067108a2; */
  color: white;
  padding: 18px 45px;
  border-radius: 5px;
  transform: translate(50%, 0);
}
